bin
dist
build
target
test-output
logs
tmp

.history
.classpath
.project
.settings
.metadata

rebel.xml
jacoco.exec

*.log
*.bak
*.class

/*.iml
/out
/.target
/.idea
/.idea_modules
/RUNNING_PID
/osgi/lib/configuration